* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
    display: grid;
    grid-template-columns: 30% 1fr;
    min-height: 100vh;
    font-family: 'Abel', sans-serif;
}

.menu-lateral{
    background-color: #16697A;
    color: #ffffff;
    padding: 1.25rem;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;    
}

h1{
    color: #EDE7E3;
    font-family: "Abel", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
}

.menu-lateral button{
    background-color: #489FB5;
    color: #EDE7E3;
    font-family: "Abel", sans-serif;
    font-size: 2.5rem;
    width: 20rem;
    height: 4rem;
    border-radius: 1rem;
    border-color: #489FB5;
    cursor: pointer;
}

.menu-lateral button:hover{
    background-color: #82C0CC;
    color: black;
}

.conteudo{
    background-color: #82C0CC;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
}

.buscador{
    margin-bottom: 30px;
}

.barra-de-busca{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.busca{
    flex: 1;
    background-color: #EFE6E2;
    border: none;
    height: 45px;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
}

.btn-buscar{
    background-color: #FFA62B;
    color: Black;
    font-family: "Abel", sans-serif;
    font-size: 0.8rem;
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border-color: #FFA62B;
    cursor: pointer;
    font-size: 28px;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 3px 0px #34586E;
}

.btn-buscar:hover{
    background-color: #ffbd61;
    color: black;
}

.filtros{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.seleciona-filtro{
    background-color: #EFE6E2;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    color: #333;
    border-radius: 4px;
    min-width: 110px;
    cursor: pointer;
    outline: none;
}

.ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding-left: 0;
}

span{
    padding-right: 1rem;
}

strong{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

li{
    background-color: #EDE7E3;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.no-data{
    grid-column: 1 / -1;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 40px 0;
}

.btn-opcoes-cadastro{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0px;
}

.btn-editar, .btn-deletar{
    flex: 1;
    font-family: "Abel", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    width: 5.2rem;
    height: 2rem;
    border-radius: 0.5rem;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 3px 0px #34586E;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left:auto;
    margin-right: 0;;
}

.btn-editar{
    background-color: #489FB5;
    border-color: #489FB5;
    color: white
}

.btn-deletar{
    background-color: #FFA62B;
    border-color: #FFA62B;
    color: black;
}

.btn-editar:hover{
    background-color: #385D73;
    color: white;
}

.btn-deletar:hover{
    background-color: red;
    color: black;
}