<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="list_animals_grid_style.css">
    <title>Projeto Patinhas | Grid</title>
</head>
<body>
    <h1>Animais Cadastrados</h1>
    
    {% if animals %}
    <div class="grid-container">

        {% for animal in animals %}
        <div class="card">

            <div class="card-image-container">
                <img src="{{animal.image}}" alt="{{animal.name}}">
            </div>

            <div class="card-info-container">
                <ul>
                    <li><strong>{{ animal.name }}</strong></li>
                    <li>{{ animal.species }} - {{ animal.breed }}</li>
                    <li>{{ animal.age }} anos</li>
                    <li>{{ animal.sex }}</li>
                    <li><a href=""><button>Editar</button></a></li>
                </ul>
            </div>
        
        </div>

        {% endfor %}
        
    </div>

    {% else %}
        <p class="no-data">Nenhum animal cadastrado.</p>
    {% endif %}
    
        
</body>
</html>