<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Patinhas | Listagem</title>
</head>
<body>
    <h1>Animais Cadastrados</h1>
    <ul>
        {% for animal in animals %}
            <li><strong>{{ animal.name }}</strong> - {{ animal.species }} - {{ animal.breed }} - {{ animal.age }} anos - {{ animal.sex }}</li>
        {% else %}
            <li>Nenhum animal cadastrado.</li>
        {% endfor %}
    </ul>
</body>
</html>