<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Projeto Patinhas | Inicio</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
</head>
<body>
    
    <div class="menu-lateral">
        <h1>Patinhas do Brasil</h1>
        
        <a href="animal_homepage">
            <button>Animais</button>
        </a>
        <a href="/adocao_lista">
            <button>Adoções</button>
        </a>
        <a href="/adotante_lista">
            <button>Adotantes</button>
        </a>
        <a href="/relatorios">
            <button>Relatórios</button>
        </a>
    </div>

    <div class="conteudo">
        <img src="/static/img/animals_walking2.png" alt="animais-andando">
        <h2>Brasil tem cerca de 30 milhões de animais domésticos abandonados</h2>
        
    </div>

</body>
</html>